{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <h1>Categorias</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.Nombre }}</td>
                <td>{{ producto.Descripcion }}</td>
                <td>{{ producto.Precio }}</td>
                <td><img
                    src="{{ producto.Imagen }}"
                    alt=""
                    class="shadow-xl rounded-md" 
                    style="height:70px; width:70px"
                   
                /></td>
                <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <a href="{{ path('app_producto_show', {'id': producto.id}) }}"><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/></a>
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                    <a href="{{ path('app_producto_edit', {'id': producto.id}) }}">
                    <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/></a>
                </svg>
                    <!--<a href="{{ path('app_producto_show', {'id': producto.id}) }}">show</a>-->
                    <!--<a href="{{ path('app_producto_edit', {'id': producto.id}) }}">edit</a>-->
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>


    {% if is_granted('ROLE_ADMIN') %}
    {# {% if app.user.roles == 'ROLE_ADMIN'  %} #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <a href="{{ path('app_categorias_index') }}">back to list</a>
    <a href="{{ path('app_categorias_edit', {'id': categoria.id}) }}">edit</a>
    {{ include('categorias/_delete_form.html.twig') }}
    {% endif %} 

    {# <button type="button" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path>
        </svg>
            <a href="{{ path('app_producto_new') }}" class="text-light">Add new item</a>  
    </button> #}

    
{% endblock %}





