{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x">
        <h1>Producto index</h1>
    </div>
</div>
<br>
<br>

    {# <div class="position-relative">
        <form class="position-absolute top-0 end-0" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div> #}

<br>
<br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.Nombre }}</td>
                <td>{{ producto.Descripcion|raw }}</td>
                <td>{{ producto.Precio }}</td>
                <td><img
                    src="/uploads/{{ producto.imagen }}"
                    alt=""
                    class="shadow-xl rounded-md" 
                    style="height:70px; width:70px"
                   
                /></td>
                <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <a href="{{ path('app_producto_show', {'id': producto.id}) }}"><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/></a>
                </svg>
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
