{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}

{% block body %}
    <h1>Producto</h1>


    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.Nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ producto.Descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.Precio }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img
                    src="/uploads/{{ producto.Imagen }}"
                    alt=""
                    class="shadow-xl rounded-md" 
                    style="height:70px; width:70px">
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
